.chat {
  display: flex;
  flex-direction: column;
}

.chat__top {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  background-color: #111;
}

.chat__navs {
  display: flex;
  align-items: center;
  gap: 4px;
}

.chat__nav {
  margin: 4px;
  color: #487;
  font-size: 28px;
}

.chat__profile {
  display: flex;
  align-items: center;
  margin: 4px;
}

.chat__picture {
  margin: 4px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.chat__heading {
  margin: 4px;
  font-size: 18px;
}

.chat__input {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-top: 1px solid #161616;
}

.chat__icon {
  margin: 4px;
  color: #487;
  font-size: 24px;
}

.chat__text {
  flex-grow: 1;
  margin: 4px;
  padding: 8px 12px;
  background-color: #161616;
  border-radius: 20px;
  font-size: 14px;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 8px;
}

.message__box {
  padding: 8px 16px;
  max-width: 80%;
  background-color: #161616;
  border-radius: 0 8px 8px 8px;
}

.message__text {
  font-weight: 400;
}

.message__date,
.message__caption {
  color: #eeea;
  font-size: 14px;
  font-weight: 300;
}

.message__date {
  float: right;
  margin: -12px -8px -4px 0;
}

.message__space {
  visibility: hidden;
}

.message__figure {
  position: relative;
  max-width: 80%;
  background-color: #161616;
  border-radius: 0 16px 16px 16px;
  overflow: hidden;
}

.message__image {
  width: 100%;
  border: 4px solid #161616;
  border-radius: 16px;
  vertical-align: bottom;
}

.message__figure::after {
  content: '';
  position: absolute;
  bottom: -76px;
  right: 40px;
  width: 48px;
  height: 160px;
  background: linear-gradient(to left, #000, #0000);
  rotate: 70deg;
}

.message__caption {
  position: absolute;
  right: 12px;
  bottom: 8px;
  z-index: 1;
}

.my {
  align-items: flex-end;
}

.my .message__box {
  background-color: #487;
  border-radius: 8px 0 8px 8px;
}

.my .message__figure {
  background-color: #487;
  border-radius: 16px 0 16px 16px;
}

.my .message__image {
  border: 4px solid #487;
}