.food__top {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 100%;
  background-color: #111e;
  backdrop-filter: blur(6px);
  z-index: 1;
}

.food__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.food__nav {
  color: #487;
  font-size: 32px;
}

.food__heading {
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 8px;
}

.food__edit {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.food__search {
  display: flex;
  width: 80%;
  margin: 8px;
  padding: 8px;
  background-color: black;
  border-radius: 18px;
}

.food__magnify {
  margin: 0 4px;
  font-size: 20px;
  color: #444;
}

.food__input {
  background-color: transparent;
  width: 100%;
  font-size: 16px;
}

.food__types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 16px;
}

.food__type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 8px;
  height: 80px;
  width: 120px;
  background-color: #161616;
  border-radius: 8px;
  border: none;
  outline: none;
}

.food__icon {
  margin: 4px;
  color: #eee;
  font-size: 24px;
}

.food__subtitle {
  margin: 4px;
  font-size: 14px;
}

.food__box {
  display: flex;
  flex-direction: column;
}

.food__subheading {
  font-size: 20px;
  padding: 16px;
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 16px;
  padding: 8px;
  background-color: #161616;
  border-radius: 8px;
}

.history__text {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.history__name {
  font-size: 16px;
  font-weight: 400;
}

.history__info {
  margin-top: 2px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.history__icon {
  margin: 8px;
  height: 32px;
  width: 32px;
  background-color: #487;
  border-radius: 50%;
  color: #eee;
}