.nutrition__top {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  background-color: #111e;
  backdrop-filter: blur(6px);
  z-index: 1;
}

.nutrition__nav {
  color: #487;
  font-size: 32px;
}

.nutrition__heading {
  padding: 8px 0;
  font-size: 24px;
}

.nutrition__macros {
  margin: 16px;
}

.nutrition__subheading {
  font-size: 20px;
  padding: 16px;
}

.nutrition__circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px 0;
  background-color: #161616;
  border-radius: 16px;
}

.nutrition__circle {
  position: relative;
  width: 96px;
  height: 96px;
  margin-bottom: 32px;
}

.nutrition__circle::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  mask: radial-gradient(farthest-side, #0000 calc(99% - 8px), #000 calc(100% - 8px));
}

.nutrition__calorie::before {
  background: conic-gradient(pink 20%, #0000 0),
    #444;
}

.nutrition__protein::before {
  background: conic-gradient(orange 100%, #0000 0),
    #444;
}

.nutrition__protein::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  mask: radial-gradient(farthest-side, #0000 calc(99% - 8px), #000 calc(100% - 8px));
  background: conic-gradient(darkorange 40%, #0000 0);
}

.nutrition__fat::before {
  background: conic-gradient(turquoise 30%, #0000 0),
    #444;
}

.nutrition__carb::before {
  background: conic-gradient(purple 80%, #0000 0),
    #444;
}

.nutrition__water::before {
  background: conic-gradient(lightblue 80%, #0000 0),
    #444;
}

.nutrition__grams,
.nutrition__total {
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nutrition__grams {
  top: calc(50% - 6px);
  font-size: 18px;
}

.nutrition__total {
  top: calc(50% + 10px);
  font-size: 12px;
  font-weight: 400;
}

.nutrition__label {
  position: absolute;
  bottom: -36px;
  left: 50%;
  translate: -50% -50%;
}

.nutrition__meals {
  margin: 16px;
  border-radius: 16px;
}

.nutrition__add {
  padding: 16px;
  background-color: #161616;
  border-radius: 16px;
}

.nutrition__input {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: #161616;
  border-bottom: 1px solid #eee;
  font-weight: 600;
}

.nutrition__button {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  background-color: #487;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.meal {
  margin: 16px 0;
  padding: 16px;
  background-color: #161616;
  border-radius: 16px;
}

.meal__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #161616;
}

.meal__heading {
  font-size: 18px;
}

.meal__total {
  font-size: 16px;
}

.meal__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.meal__info {
  max-width: 85%;
}

.meal__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal__amount {
  color: #eeea;
  font-size: 14px;
}

.meal__button {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  background-color: #487;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}