.nutrition {
  display: flex;
  flex-direction: column;
}

.nutrition__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  background-color: #111;
}

.nutrition__nav {
  color: #487;
  font-size: 32px;
  cursor: pointer;
}

.nutrition__heading {
  padding: 8px 0;
  font-size: 24px;
}

.nutrition__scroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.nutrition__macros {
  margin: 16px;
}

.nutrition__subheading {
  font-size: 20px;
  padding: 16px;
}

.nutrition__circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px 0;
  background-color: #161616;
  border-radius: 16px;
}

.nutrition__circle {
  position: relative;
  width: 96px;
  height: 96px;
  margin-bottom: 32px;
  border-radius: 50%;
  inset: 0;
}

.nutrition__mask {
  position: absolute;
  inset: 8px;
  background-color: #161616;
  border-radius: 50%;
}

.nutrition__grams,
.nutrition__total {
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nutrition__grams {
  top: calc(50% - 6px);
  font-size: 18px;
}

.nutrition__total {
  top: calc(50% + 10px);
  font-size: 12px;
  font-weight: 400;
}

.nutrition__label {
  position: absolute;
  bottom: -36px;
  left: 50%;
  translate: -50% -50%;
}

.nutrition__meals {
  margin: 16px;
  border-radius: 16px;
}

.nutrition__add {
  padding: 16px;
  background-color: #161616;
  border-radius: 16px;
}

.nutrition__input {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: #161616;
  border-bottom: 1px solid #eee;
  font-weight: 600;
}

.nutrition__button {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  background-color: #487;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.food {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
}

.food__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 100%;
  background-color: #111e;
}

.food__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
}

.food__nav {
  color: #487;
  font-size: 32px;
}

.food__heading {
  padding: 8px 16px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
}

.food__edit {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.food__search {
  display: flex;
  width: 80%;
  margin: 8px;
  padding: 8px;
  background-color: #000;
  border-radius: 18px;
}

.food__magnify {
  margin: 0 4px;
  font-size: 20px;
  color: #444;
}

.food__input {
  background-color: transparent;
  width: 100%;
  font-size: 16px;
}

.food__scroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.food__types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 16px;
}

.food__type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 8px;
  height: 80px;
  width: 120px;
  background-color: #161616;
  border-radius: 8px;
  border: none;
  outline: none;
}

.food__icon {
  margin: 4px;
  color: #eee;
  font-size: 24px;
}

.food__subtitle {
  margin: 4px;
  font-size: 14px;
}

.food__box {
  display: flex;
  flex-direction: column;
}

.food__subheading {
  font-size: 20px;
  padding: 16px;
}

.food__history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 16px;
  padding: 8px;
  background-color: #161616;
  border-radius: 8px;
}

.food__text {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.food__name {
  font-size: 16px;
  font-weight: 400;
}

.food__info {
  margin-top: 2px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.food__add {
  margin: 8px;
  height: 32px;
  width: 32px;
  background-color: #487;
  border-radius: 50%;
  color: #eee;
  cursor: pointer;
}

.meal {
  margin: 16px 0;
  padding: 8px;
  background-color: #161616;
  border-radius: 16px;
}

.meal__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #161616;
}

.meal__heading {
  font-size: 18px;
}

.meal__total {
  font-size: 16px;
}

.meal__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.meal__info {
  max-width: 80%;
}

.meal__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal__amount {
  color: #eeea;
  font-size: 14px;
}

.meal__button {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  background-color: #487;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}