.routine {
  display: flex;
  flex-direction: column;
}

.routine__top {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  width: 100%;
  backdrop-filter: blur(6px);
  background-color: #111e;
}

.routine__navs {
  display: flex;
}

.routine__nav {
  margin: 4px;
  color: #487;
  font-size: 28px;
}

.routine__heading {
  padding: 8px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.routine__edit {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.routine__search {
  display: flex;
  width: 80%;
  margin: 8px;
  padding: 8px;
  background-color: black;
  border-radius: 18px;
}

.routine__finish {
  display: flex;
  align-items: center;
  margin: 4px;
  background-color: #487;
  padding: 0 8px;
  border-radius: 8px;
  color: #eee;
  font-size: 12px;
  text-decoration: none;
}

.routine__exercises {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 120px;
}

.exercise {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  padding: 8px;
  background-color: #161616;
  border-radius: 16px;
}

.exercise__top {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

/* .exercise__name {

}

.exercise__more {

} */

.exercise__row {
  display: flex;
  padding: 4px 8px;
}


.exercise__box {
  /* width: 144px; */
  display: flex;
  gap: 8px;
  padding-right: 8px;
}

/* .exercise__subtitle {
  
}

.exercise__notes {
  
} */

.exercise__sets {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.set {
  display: flex;
  justify-content: space-between;
}

.set__box {
  width: 144px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.set__set,
.set__weight,
.set__reps {
  text-align: center;
}

.set__weight,
.set__reps,
.set__notes {
  background-color: transparent;
  font-size: 14px;
}

.set__set {
  font-size: 14px;
  width: 23px;
}

.set__weight {
  width: 52.46px;
}

.set__reps {
  width: 34.59px;
}

.set__notes {
  width: 100%;
}

.exercise__add {
  margin-top: 4px;
  padding: 8px;
  background-color: transparent;
  border-top: 1px solid #999;
}

.clock {
  position: fixed;
  top: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #000b;
}

.clock__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.clock__nav {
  color: #487;
  font-size: 32px;
}

.clock__heading {
  padding: 8px 0;
  font-size: 24px;
}

.clock__circle {
  position: relative;
  margin: 16px;
  width: 256px;
  height: 256px;
}

.clock__circle::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(#487 40%, #0000 0),
    #444;
  mask: radial-gradient(farthest-side, #0000 calc(99% - 12px), #000 calc(100% - 12px));
}

.clock__time {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 48px;
}

.clock__buttons {
  display: flex;
  margin: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.clock__secondary,
.clock__primary {
  padding: 16px;
  width: 128px;
  font-size: 18px;
}

.clock__secondary {
  background-color: #eee;
  color: #487;
}

.clock__primary {
  background-color: #487;
}

.clock__timers {
  display: flex;
  padding: 16px;
  width: 100%;
  overflow: scroll;
}

.clock__edit,
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  height: 64px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #161616;
}

.clock__pencil {
  color: #eee;
  font-size: 24px;
}

.timer__time {
  font-size: 18px;
}

.clock__change {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}

.clock__operator {
  background-color: transparent;
  color: #487;
  font-size: 20px;
}