.routine {
  display: flex;
  flex-direction: column;
}

.routine__top {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  width: 100%;
  backdrop-filter: blur(6px);
  background-color: #111e;
}

.routine__navs {
  display: flex;
}

.routine__nav {
  margin: 4px;
  color: #487;
  font-size: 28px;
}

.routine__heading {
  padding: 8px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.routine__edit {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.routine__search {
  display: flex;
  width: 80%;
  margin: 8px;
  padding: 8px;
  background-color: black;
  border-radius: 18px;
}

.routine__finish {
  display: flex;
  align-items: center;
  margin: 4px;
  background-color: #487;
  padding: 0 8px;
  border-radius: 8px;
  color: #eee;
  font-size: 12px;
  text-decoration: none;
}

.routine__exercises {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 120px;
}

.exercise {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  padding: 8px;
  background-color: #161616;
  border-radius: 16px;
}

.exercise__top {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

/* .exercise__name {

}

.exercise__more {

} */

.exercise__row {
  display: flex;
  padding: 4px 8px;
}


.exercise__box {
  /* width: 144px; */
  display: flex;
  gap: 8px;
  padding-right: 8px;
}

/* .exercise__subtitle {
  
}

.exercise__notes {
  
} */

.exercise__sets {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.set {
  display: flex;
  justify-content: space-between;
}

.set__box {
  width: 144px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.set__set,
.set__weight,
.set__reps {
  text-align: center;
}

.set__weight,
.set__reps,
.set__notes {
  background-color: transparent;
  font-size: 14px;
}

.set__set {
  font-size: 14px;
  width: 23px;
}

.set__weight {
  width: 52.46px;
}

.set__reps {
  width: 34.59px;
}

.set__notes {
  width: 100%;
}

.exercise__add {
  margin-top: 4px;
  padding: 8px;
  background-color: transparent;
  border-top: 1px solid #999;
}