.sign {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
  height: 100%;
  overflow: hidden;
}

.sign__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  background-color: #487;
  border-radius: 50%;
  translate: 0 -30%;
  rotate: 75deg;
  z-index: -1;
}

.sign__heading {
  font-size: 64px;
}

.sign__form {
  display: flex;
  flex-direction: column;
}

.sign__names {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign__box {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 8px;
  padding: 8px;
  border-bottom: 2px solid #444;
}

.sign__icon,
.sign__eye {
  color: #999;
  font-size: 24px;
}

.sign__input {
  background-color: transparent;
  font-size: 16px;
}

.sign__eyes {
  position: absolute;
  top: 50%;
  right: 8px;
  translate: 0 -50%;
  background-color: transparent;
}

.sign__button {
  margin: 8px;
  padding: 8px 24px;
  background-color: #487;
  border-radius: 8px;
  font-size: 20px;
}

.sign__bottom {
  position: absolute;
  bottom: 32px;
  color: #999;
}

.sign__link {
  color: #487;
  text-decoration: none;
}

.sign__link:hover {
  text-decoration: underline;
}