.workout {
  position: fixed;
  height: calc(100% - 68px);
  width: 100%;
}

.workout__show {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000;
}

.workout__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  background-color: #111;
}

.workout__navs {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 64px;
}

.workout__nav {
  color: #487;
  font-size: 32px;
  cursor: pointer;
}

.workout__heading {
  flex: 1;
  padding: 8px;
  min-width: 0;
  background-color: transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}

.workout__finish {
  background-color: #487;
  padding: 4px 10px;
  border-radius: 8px;
  color: #eee;
  font-size: 16px;
  text-decoration: none;
}

.workout__exercises {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
}

.workout__add {
  margin: 8px 0;
  padding: 8px;
  background-color: #487;
  font-size: 16px;
  border-radius: 16px;
}

.workout__bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 12px;
  height: 100%;
  width: 100%;
  background-color: #111;
  border-bottom: 1px solid #333;
  border-radius: 16px 16px 0 0;
}

.workout__name {
  font-size: 20px;
}

.workout__up {
  font-size: 16px;
}

.calculator {
  position: fixed;
  top: 20%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
  background-color: #222b;
  backdrop-filter: blur(12px);
}

.calculator__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.calculator__unit {
  padding: 4px;
  width: 40px;
  background-color: #487;
  color: #eee;
  font-size: 14px;
  border-radius: 8px;
}

.calculator__heading {
  font-size: 20px;
}

.calculator__icon {
  margin-left: 12px;
  color: #487;
  font-size: 28px;
  cursor: pointer;
}

.calculator__container {
  display: flex;
  flex-direction: column;
}

.calculator__total {
  margin: 4px auto;
  padding: 0 16px;
  width: 104px;
  background-color: #161616;
  border-radius: 20px;
  text-align: center;
  font-size: 32px;
}

.calculator__subtitles {
  display: flex;
  gap: 12%;
  padding: 8px;
}

.calculator__subtitle {
  font-size: 16px;
}

.calculator__weights {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 8px;
}

.calculator__bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.calculator__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 8px;
  background-color: #999;
  cursor: pointer;
}

.calculator__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 24px;
  background-color: #999;
}

.calculator__number {
  position: absolute;
  top: 40px;
  left: 50%;
  translate: -50% 0;
  width: 32px;
  height: 20px;
  background-color: #161616;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
}

.calculator__weight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  background-color: transparent;
}

.calculator__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
}

.calculator__plate {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: opacity 100ms;
}

.calculator__0 {
  height: 32px;
  width: 32px;
  background-color: #f33;
}

.calculator__1 {
  height: 30px;
  width: 30px;
  background-color: #33f;
}

.calculator__2 {
  height: 29px;
  width: 29px;
  background-color: #ee3;
  color: #222;
}

.calculator__3 {
  height: 28px;
  width: 28px;
  background-color: #393;
}

.calculator__4 {
  height: 26px;
  width: 26px;
  background-color: #eee;
  color: #222;
}

.calculator__5 {
  height: 25px;
  width: 25px;
  background-color: #999;
}

.calculator__6 {
  height: 24px;
  width: 24px;
  background-color: #111;
  font-size: 11px;
}

.exercise {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  background-color: #161616;
  border-radius: 16px;
}

.exercise__top {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 4px 8px;
}

.exercise__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.exercise__more {
  color: #eee;
  font-size: 20px;
  cursor: pointer;
}

.exercise__subtitles {
  display: flex;
  gap: 8px;
  padding: 4px 8px;
}

/* .exercise__subtitle {
  
} */

.exercise__sets {
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
}

.exercise__add {
  margin-top: 4px;
  padding: 4px 8px;
  background-color: transparent;
  border-top: 1px solid #999;
}

.set {
  display: flex;
  justify-content: space-between;
}

.set__box {
  width: 144px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.set__set,
.set__weight,
.set__reps {
  text-align: center;
}

.set__weight,
.set__reps,
.set__note {
  background-color: transparent;
  font-size: 14px;
}

.set__set {
  font-size: 14px;
  width: 23px;
}

.set__weight {
  width: 52.46px;
}

.set__reps {
  width: 34.59px;
}

.set__note {
  width: 100%;
}

.labels {
  position: fixed;
  top: 60%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
  background-color: #161616;
}

.labels__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.labels__nav {
  color: #487;
  font-size: 28px;
  cursor: pointer;
}

.labels__heading {
  font-size: 20px;
}

.labels__box {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.labels__letter {
  width: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.labels__warmup {
  color: #ffa500;
}

.labels__normal {
  color: #fff;
}

.labels__drop {
  color: #3db1ff;
}

.labels__delete {
  color: #ff4f4f;
}

.labels__subtitle {
  font-size: 18px;
}

.clock {
  position: fixed;
  top: 32px;
  width: 100%;
}

.clock__show {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #000b;
  backdrop-filter: blur(12px);
}

.clock__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.clock__nav {
  color: #487;
  font-size: 32px;
}

.clock__heading {
  padding: 8px 0;
  font-size: 24px;
}

.clock__circle {
  position: relative;
  margin: 16px;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  background: conic-gradient(#487 100%, #0000 0),
    #444;
}

.clock__mask {
  position: absolute;
  inset: 16px;
  background-color: #000;
  border-radius: 50%;
}

.clock__time {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 48px;
}

.clock__buttons {
  display: flex;
  margin: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.clock__secondary,
.clock__primary {
  padding: 16px;
  width: 128px;
  font-size: 18px;
}

.clock__secondary {
  background-color: #eee;
  color: #487;
}

.clock__primary {
  background-color: #487;
}

.clock__timers {
  display: flex;
  padding: 16px;
  width: 100%;
  overflow: scroll;
}

.clock__timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  height: 64px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #161616;
}

.clock__icon {
  color: #eee;
  font-size: 28px;
}

.clock__change {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}

.clock__operator {
  background-color: transparent;
  color: #487;
  font-size: 20px;
}

.clock__workout {
  margin-top: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.timers {
  position: fixed;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

.timers__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.timers__nav {
  color: #487;
  font-size: 24px;
  cursor: pointer;
}

.timers__heading {
  font-size: 20px;
}

.timers__box {
  display: flex;
  padding: 8px 16px;
  background-color: #111;
  border-bottom: 1px solid #222;
}

.timers__icon {
  margin-right: 16px;
  border-radius: 50%;
  color: #eee;
  font-size: 24px;
}

.timers__plus {
  background-color: #3a3;
}

.timers__half {
  min-width: 0;
  width: 24px;
  background-color: #222;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

.timers__colon {
  margin: 0 4px;
}

.timers__dash {
  background-color: #d33;
}

.add {
  position: fixed;
  top: 20%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
  background-color: #161616;
}

.add__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
}

.add__nav {
  font-size: 32px;
  color: #487;
}

.add__heading {
  font-size: 24px;
}

.add__search {
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 8px;
  width: 80%;
  background-color: #000;
  border-radius: 18px;
}

.add__magnify {
  margin: 0 8px 0 4px;
  font-size: 20px;
  color: #444;
}

.add__input {
  background-color: transparent;
  width: 100%;
  font-size: 16px;
}

.add__exercises {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add__exercise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: solid 1px #444;
}

.add__box {
  display: flex;
  gap: 8px;
}

.add__image {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.add__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add__muscle {
  color: #999;
}

.add__plus {
  height: 32px;
  width: 32px;
  margin: 8px;
  padding: 4px;
  background-color: #487;
  border-radius: 50%;
  color: #eee;
}

.new {
  position: fixed;
  top: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 100%;
  background-color: #161616;
}

.new__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
}

.new__nav {
  font-size: 32px;
  color: #487;
}

.new__heading {
  font-size: 24px;
}

.new__input {
  margin: 8px;
  padding: 8px 16px;
  width: 80%;
  background-color: #000;
  border-radius: 18px;
  font-size: 16px;
}

.new__dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  padding: 8px 16px;
  width: 80%;
  background-color: #000;
  border-radius: 18px;
  color: #eee;
}