* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #000;
}

main {
  height: calc(100% - 68px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: #eee;
  font-weight: 500;
}

p,
button,
input {
  font-weight: 500;
  color: #eee;
}

button,
input {
  border: none;
  outline: none;
}

/* body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */