* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: #eee;
  font-weight: 500;
}

p,
button,
input {
  font-weight: 500;
  color: #eee;
}

/* body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */